@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* line 4, F:/Rudigo/Week 9/Forms/css/register.scss */
body {
  background-image: -ms-linear-gradient(top, #262626 0%, #0D0D0D 46%, #0A0A0A 53%, #0D0D0D 100%);
  background-image: -moz-linear-gradient(top, #262626 0%, #0D0D0D 46%, #0A0A0A 53%, #0D0D0D 100%);
  background-image: -o-linear-gradient(top, #262626 0%, #0D0D0D 46%, #0A0A0A 53%, #0D0D0D 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #262626), color-stop(46, #0D0D0D), color-stop(53, #0A0A0A), color-stop(100, #0D0D0D));
  background-image: -webkit-linear-gradient(top, #262626 0%, #0D0D0D 46%, #0A0A0A 53%, #0D0D0D 100%);
  background-image: linear-gradient(to bottom, #262626 0%, #0D0D0D 46%, #0A0A0A 53%, #0D0D0D 100%);
  font-family: 'Quicksand', sans-serif; }

/* line 20, F:/Rudigo/Week 9/Forms/css/register.scss */
.main {
  margin: 0 auto;
  height: 100vh; }

/* line 25, F:/Rudigo/Week 9/Forms/css/register.scss */
form {
  height: 90vh;
  padding: 20px; }

/* line 30, F:/Rudigo/Week 9/Forms/css/register.scss */
.login-text {
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 2.5rem;
  text-align: center; }
  /* line 37, F:/Rudigo/Week 9/Forms/css/register.scss */
  .login-text .fa-stack-1x {
    color: black; }

/* line 43, F:/Rudigo/Week 9/Forms/css/register.scss */
.alert {
  padding: 5px;
  background-color: #f44336;
  color: white;
  display: none; }

/* line 50, F:/Rudigo/Week 9/Forms/css/register.scss */
.closebtn {
  margin-left: 15px;
  margin-top: -3px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s; }

/* line 63, F:/Rudigo/Week 9/Forms/css/register.scss */
.closebtn:hover {
  color: black; }

/* line 69, F:/Rudigo/Week 9/Forms/css/register.scss */
.container {
  padding: 10px; }

/* line 73, F:/Rudigo/Week 9/Forms/css/register.scss */
#email, #pwd, #name, #type {
  display: block;
  padding: 10px;
  margin-bottom: 15px; }

/* line 79, F:/Rudigo/Week 9/Forms/css/register.scss */
input {
  background-color: transparent;
  border-bottom: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: 5ms;
  color: white;
  font-family: 'Quicksand', sans-serif; }

/* line 89, F:/Rudigo/Week 9/Forms/css/register.scss */
input::placeholder {
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif; }

/* line 94, F:/Rudigo/Week 9/Forms/css/register.scss */
input:focus {
  outline: none;
  color: black;
  background-color: white;
  transition: 5ms; }
  /* line 99, F:/Rudigo/Week 9/Forms/css/register.scss */
  input:focus input::placeholder {
    color: black; }

/* line 105, F:/Rudigo/Week 9/Forms/css/register.scss */
.btn {
  padding: 5px 40px;
  margin: 30px 0px;
  font-family: 'Quicksand', sans-serif; }

/* line 111, F:/Rudigo/Week 9/Forms/css/register.scss */
.red {
  border-bottom: 1px solid red; }

/* line 116, F:/Rudigo/Week 9/Forms/css/register.scss */
a {
  color: white;
  text-decoration: underline; }

/* line 120, F:/Rudigo/Week 9/Forms/css/register.scss */
a:hover {
  color: white;
  text-decoration: underline; }

/*# sourceMappingURL=register.css.map */